.custom-navbar {
    width: 700px
}

.App{
    margin: auto;
    width: 900px;
}

.navbar-brand-logo{
    width: 20%;
}

/* One Word Component */
.one-word-component-main-container{
    margin-top: 15px;
    background-color: rgb(248, 244, 238);
    box-shadow: 1px 1px 5px  grey;
    padding: 5px;
    
}